<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = "post" action="add_section">
        <label>section:<input type = 'text' name="section"></label>
        <label>enable:<input type = 'text' name="enable"></label>
        <label>cloud_id:<input type = 'text' name="cloud_id"></label>
        <label>ip:<input type = 'text' name="ip"></label>
        <label>type:<input type = 'text' name="type"></label>
        <label>sleep:<input type = 'text' name="sleep"></label>
        <label>api_type:<input type = 'text' name="api_type"></label>
        <input type="submit" value="提交">
    </form>

</body>
</html>